@charset "UTF-8";

@font-face {
  font-family: "switch-markets";
  src:url("fonts/switch-markets.eot");
  src:url("fonts/switch-marketsd41d.eot?#iefix") format("embedded-opentype"),
    url("fonts/switch-markets.woff") format("woff"),
    url("fonts/switch-markets.ttf") format("truetype"),
    url("fonts/switch-markets.svg#switch-markets") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "switch-markets" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "switch-markets" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crude:before {
  content: "\65";
}
.icon-monitor:before {
  content: "\67";
}
.icon-glasses:before {
  content: "\69";
}
.icon-happy-face:before {
  content: "\68";
}
.icon-like:before {
  content: "\6b";
}
.icon-milisecond-pip:before {
  content: "\6c";
}
.icon-shield:before {
  content: "\6d";
}
.icon-support:before {
  content: "\6e";
}
.icon-data-centre:before {
  content: "\70";
}
.icon-gold-ingot:before {
  content: "\66";
}
.icon-pc:before {
  content: "\73";
}
.icon-speaker:before {
  content: "\75";
}
.icon-user:before {
  content: "\76";
}
.icon-email:before {
  content: "\77";
}
.icon-alert:before {
  content: "\7a";
}
.icon-sheet-up:before {
  content: "\74";
}
.icon-spinner:before {
  content: "\79";
}
.icon-twitter:before {
  content: "\41";
}
.icon-triangle-up:before {
  content: "\42";
}
.icon-triangle:before {
  content: "\43";
}
.icon-integrate:before {
  content: "\45";
}
.icon-crypto:before {
  content: "\46";
}
.icon-domain:before {
  content: "\47";
}
.icon-facebook:before {
  content: "\48";
}
.icon-question-mark:before {
  content: "\49";
}
.icon-flexible:before {
  content: "\4a";
}
.icon-regulated:before {
  content: "\4b";
}
.icon-replace:before {
  content: "\4c";
}
.icon-globe:before {
  content: "\4d";
}
.icon-server:before {
  content: "\50";
}
.icon-instagram:before {
  content: "\52";
}
.icon-close:before {
  content: "\53";
}
.icon-click-button:before {
  content: "\4f";
}
.icon-quote-text:before {
  content: "\51";
}
.icon-lightbulb:before {
  content: "\54";
}
.icon-chevron-up:before {
  content: "\56";
}
.icon-click-link:before {
  content: "\57";
}
.icon-select-box:before {
  content: "\58";
}
.icon-withdrawl:before {
  content: "\6f";
}
.icon-lock:before {
  content: "\59";
}
.icon-atom:before {
  content: "\62";
}
.icon-bar-chart:before {
  content: "\63";
}
.icon-celebrate:before {
  content: "\64";
}
.icon-chart:before {
  content: "\71";
}
.icon-chat:before {
  content: "\72";
}
.icon-check:before {
  content: "\78";
}
.icon-chevron-down:before {
  content: "\4e";
}
.icon-chevron-down-1:before {
  content: "\55";
}
.icon-notifications:before {
  content: "\5a";
}
.icon-calendar-check-o:before {
  content: "\30";
}
.icon-arrow-down:before {
  content: "\61";
}
.icon-target:before {
  content: "\32";
}
.icon-hand-shake:before {
  content: "\33";
}
.icon-arrow-right:before {
  content: "\34";
}
.icon-magic:before {
  content: "\44";
}
.icon-withdraw:before {
  content: "\35";
}
.icon-pencil:before {
  content: "\36";
}
.icon-commission-icon:before {
  content: "\37";
}
.icon-cfd:before {
  content: "\6a";
}
.icon-billing-statement:before {
  content: "\38";
}
.icon-polaris-icon-major-mono-billing-statement-dollar-1:before {
  content: "\38";
}
.icon-foreign-exchange:before {
  content: "\39";
}
.icon-spreads:before {
  content: "\21";
}
.icon-logout:before {
  content: "\23";
}
.icon-clock:before {
  content: "\24";
}
.icon-new-document:before {
  content: "\25";
}
.icon-heart:before {
  content: "\26";
}
.icon-join:before {
  content: "\27";
}
.icon-refresh:before {
  content: "\28";
}
.icon-close-circle:before {
  content: "\29";
}
.icon-check-circle:before {
  content: "\2a";
}
.icon-graduation-cap:before {
  content: "\2b";
}
.icon-heartbeat:before {
  content: "\2c";
}
.icon-speech-bubbles:before {
  content: "\2d";
}
.icon-video-camera:before {
  content: "\2e";
}
.icon-squiggle:before {
  content: "\2f";
}
.icon-percentage-badge:before {
  content: "\3a";
}
.icon-quote:before {
  content: "\22";
}
.icon-username:before {
  content: "\3b";
}
.icon-password:before {
  content: "\3c";
}
.icon-full-name:before {
  content: "\3d";
}
.icon-empty-shield:before {
  content: "\3e";
}
.icon-lightning:before {
  content: "\3f";
}
.icon-tools:before {
  content: "\40";
}
.icon-support-2:before {
  content: "\5b";
}
.icon-hamb-menu:before {
  content: "\5e";
}
.icon-share:before {
  content: "\5d";
}
.icon-settings:before {
  content: "\5f";
}
.icon-visible:before {
  content: "\60";
}
.icon-invisible:before {
  content: "\7b";
}
.icon-add-item:before {
  content: "\7c";
}
.icon-locker-open-light:before {
  content: "\7d";
}
.icon-lightbulb-light:before {
  content: "\5c";
}
.icon-calendar:before {
  content: "\7e";
}
.icon-video-camera-light:before {
  content: "\31";
}
